/* Barra de fundo */
.books-section {
    background: #26333d;
    padding: 40px 20px;
    border-radius: 20px;
    margin: 2rem 0;
}

/* Título da sessão */
.section-title {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
}

/* Grid com 4 livros no desktop */
.books-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;     /* centra os cards */
  gap: 10px;
  padding: 20px 30px;
}

/* Card */
.book-card {
  width: 280px;             /* tamanho ideal do card */
  background: #e9eef7;
  padding: 12px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
     cursor: pointer;
}

/* Hover */
.book-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

/* Imagem */    
.book-card img {
  width: 100%;
  aspect-ratio: 3 / 4.3;    /* proporção perfeita de capa */
  object-fit: cover;        /* mantém proporção */
  border-radius: 10px;

}


/* Título */
.book-card h3 {
    font-size: 16px;
    color: #2d3b4f;
    margin: 5px 0 0 0;
    font-weight: 700;
    line-height: 1.3;
}

/* Autor */
.book-card p {
    font-size: 13px;
    color: #5d6b80;
    margin: 0;
}

/* Tag */
.tag {
    background: #c3d6ff;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 12px;
    width: fit-content;
    font-weight: bold;
    color: #1e2b45;
    margin-top: 4px;
}

h1 {
  color: #26333D;
  padding: 10px;
  background-color: gray;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* TABLET: 2 colunas */
@media (max-width: 1024px) {
    .books-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .books-section {
        padding: 30px 15px;
    }

    .section-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

/* MOBILE: 2 colunas (mantém em mobile também) */
@media (max-width: 768px) {
    .books-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .books-section {
        background: #26333d;
        padding: 20px 10px;
        border-radius: 15px;
    }

    .section-title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .book-card {
        padding: 12px;
        gap: 6px;
    }

    .book-card img {
        height: 260px;
    }

    .book-card h3 {
        font-size: 14px;
    }

    .book-card p {
        font-size: 12px;
    }

    .tag {
        font-size: 11px;
        padding: 4px 8px;
    }
}