.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--espacamento);
  background: var(--cor-primaria);
  color: white;
  z-index: 2;
}

.logo {
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-desktop ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-desktop li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.nav-desktop a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nav-desktop a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.nav-desktop .material-symbols-outlined {
  font-size: 2.0rem;
  vertical-align: middle;
  line-height: 1;
}

.nav-mobile {
  display: none;
}

.mobile-menu-icon {
  display: none;
  border-radius: 5px;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0 1rem;
}

.search-input {
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  border: 1px solid var(--cor-primaria);
  background: var(--cor-fundo);
  color: var(--cor-primaria);
  min-width: 220px;
}

.search-input::placeholder {
  color: black;
}

.search-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/* ============================ PARTE MOBILE HEADER ============================ */
@media (max-width: 768px) {
  .nav-desktop {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 3;
  }

  .nav-mobile {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: var(--cor-primaria);
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
  }

  .nav-mobile.is-open {
    display: flex;
  }

  .nav-mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-mobile li {
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }

  .nav-mobile .material-symbols-outlined {
    font-size: 2.0rem;
    vertical-align: middle;
    line-height: 1;
  }

  .nav-mobile a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all 0.3s ease;
  }

  .nav-mobile a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
  }

  .nav-mobile.is-open {
    display: block;
  }
}
