
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Montserrat, sans-serif;
  background: var(--cor-fundo);
  color: var(--cor-texto);
}
h1{
color: #26333d;
padding: 10px;
text-align: center;
background-color: gray;
margin-top: 0;
}

h2 {
  padding-left: 2rem;
}
