* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#retEsquerda  {
    background-color: #26333D;
    width: 50%;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;   
    align-items: center;
}
#retDireita {
    background-color: #e9f0ef;
    width: 50%;
    height: 100vh;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
} 

body, html {
    height: 100%;
}

#loginBox{
    position: absolute;
    width: 400px;
    height: 400px;
    padding: 40px;
    background: #fff;
    border-radius: 30px;
}

#username, #password {
    background-color: #e9f0ef;
    color: #4a67df;
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    border: 1px solid #000000;
    border-radius: 5px;
}
#btnEntrar, #btnCadastrar {
    width: 30%;
    padding: 10px;
    margin: 10px 1%;
    border: solid #4a67df 1px;
    border-radius: 10px;
    cursor: pointer;
}
#btnEntrar {
    background-color: #4a67df;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
#btnCadastrar {
    background-color: white;
    color: #4a67df;
}

#logo {
    width: 45%;
    min-width: 45%;
    max-width: 45%;
}
#txtMostrarSenha {
    font-size: 12px;
    color: #26333D;
}
#btnMostrarSenha {
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
}
#btnMostrarSenha:checked {
    background-color: #4a67df;
    border-color: #ffffff;
    border: inset;
}